.button {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 10em;
  height: 4em;
  padding: 1em;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Nunito Sans", sans-serif;
  color: var(--primary-color);
  background-color: var(--back-color);
  border: 1px solid var(--primary-color);
  border-radius: 15%;
  transition: all 0.5s ease-in-out;

  &:hover {
    transform: var(--hover-size);
  }
}
