.wrapper {
  position: relative;
  margin: 0 auto;
  width: 93em;
  height: 26em;
}

@media screen and (min-width: 991px) and (max-width: 1300px) {
  .wrapper {
    width: 71em;
    height: 33em;
  }
}

@media screen and (min-width: 801px) and (max-width: 991px) {
  .wrapper {
    width: 51em;
    height: 45em;
  }
}

@media screen and (min-width: 577px) and (max-width: 800px) {
  .wrapper {
    width: 34em;
    height: 41em;
  }
}

@media screen and (max-width: 576px) {
  .wrapper {
    width: 23em;
    height: 30em;
  }
}
