:root {
  --back-color: #ffffffe7;
  --primary-color: #000;
  --joke-color: #15161f;
  // body
  --skin-color: #f4b595;
  --ear-color: #ec7177;

  // cloth
  --jacket-color: linear-gradient(
    to right,
    #000 33%,
    #e0f0e5 33%,
    #e0f0e5 66%,
    #000 66%
  );
  --jacket-bottom: #e0f0e5;
  --jacket-tie: #df2535;
  --hat-color: #b35230;
  --hat-patch: #eaa419;
  // button
  --hover-size: scale(1.1);
}
