@import "./themes/light.scss";
@import "./themes/dark.scss";

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 1.7;
  color: var(--primary-color);
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--back-color);
}
