.container {
  position: absolute;
  top: 9em;
  left: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0f0e5;
  width: 32em;
  padding: 2em;
  height: 11em;
  border-radius: 20%;

  &::before {
    position: absolute;
    content: "";
    top: 11em;
    left: 32em;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #e0f0e5;
  }
}

.joke {
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}
