.container {
  background-color: white;
  position: absolute;
  top: 9em;
  left: 6em;
  width: 32em;
  padding: 2em 2em 4em 2em;
  height: 11em;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
}

.joke {
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}
